<nav class="navbar" *ngIf="api.isLoggedIn()">
  <div class="nav-container">
    <a routerLink="/home" class="logo-wrapper">
      <span class="logo-text">KBTU</span>
      <span class="logo-subtext">Hub</span>
    </a>
    
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active">Курсы</a>
      <a routerLink="/guilds" routerLinkActive="active">Гильдии</a>
      
      <a *ngIf="api.getUserRole() === 'teacher'" 
         routerLink="/create-course" 
         routerLinkActive="active" 
         class="teacher-link">
         <span>+</span> Создать курс
      </a>

      <button (click)="logout()" class="btn-logout">Выйти</button>
    </div>
  </div>
</nav>

<main class="content-wrapper">
  <router-outlet></router-outlet>
</main>